<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmoketestWebapp" verbose="1" >
    <test name="SuccessfulRegistration" >
        <classes>
        <class name="com.tests.SuccessfulRegularRegistration"></class>
        </classes>
    </test>
    <test name="Suspended User" >
        <classes>
            <class name="com.tests.SuspendedUser"></class>
        </classes>
    </test>
    <test name="Locked USer" >
        <classes>
            <class name="com.tests.LockedUser"></class>
        </classes>
    </test>
</suite>
